.spinner-container {
  display: flex;
  justify-content: center;
}

.chat-box {
  background-color: transparent !important;
  box-shadow: none !important;
}

.spinner-1 {
  animation-delay: 0.25s !important;
}

.spinner-2 {
  animation-delay: 0.5s !important;
}

.spinner-3 {
  animation-delay: 0.75s !important;
}

.typewriter {
  display: inline-block;
  width: 100%;
}

.text {
  border-right: 2px solid;
  /* white-space: nowrap; */
  overflow: hidden;
  animation: typing 2s, cursor 0.4s step-end infinite alternate;
}

.chat-response a {
  padding: 6px 20px;
  color: black;
  background-color: white;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #4A90E2, #A24DFF);
  margin-bottom: 0.5rem;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* 
.initial-screen {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
} */

.content1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

.cardcontent {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.title{
    background: linear-gradient(90deg, #1E87F2 0%, #9651FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.input-group-container {
  display: flex;
  align-items: center;
}

.send-icon-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.send-icon {
  cursor: pointer;
  font-size: 20px;
}

.card-title-wrapper {
  display: flex;
  justify-content: space-around;
}

.card-icon {
  font-size: 25px;
}

.colorless {
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 8px;
  background: var(--Gradient, linear-gradient(90deg, #1E87F2 0%, #9651FF 100%));
}

.send {
  color: black;
}

.bx.bxs-user-detail {
  font-size: 30px;
  background: linear-gradient(90deg, #0077CC, #802BC2);
  /* Apply gradient */
  /* -webkit-background-clip: text; */
  /* Clip background to text */
  color: transparent;
  /* Make icon color transparent to see gradient */
}

.list-style{
  list-style-type: none;
  padding: 0px !important;
  margin: 0px !important;
  
}

.styled-paragraph{
  padding: 0px !important;
  margin: 0px !important;
}

.icons {
  /* margin-right: 5px; */
}

.photo-img-loader {
  height: 0;
  padding-bottom: 67%;
  height: 100%;
  border-radius: 6px;
}

.animate-loader {
  animation: shimmer 4s infinite linear;
  background: linear-gradient(110deg, #F4F4F4 50%, #EAEAEB 53%, #F4F4F4 60%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}